* {
    margin: 0;
    padding: 0;
}

.nav {
    
    width: auto;
    padding: 20px;
    border-bottom: 1px solid white;
    margin: 0px;
    box-shadow:0 1px 1px 0px gray,  0 2px 1px 0px #ccc , 0 3px 2px 0px #fff
    
}

.nav h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(50, 50, 50);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc {
    padding: 30px;
    width: 100%;
    max-width: 250px;
    
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    box-shadow:1px 1px 1px 1px gray,  2px 2px 2px 2px #ccc , 3px 3px 3px 3px #fff



}

.calc label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

  
}

.calc input {
    text-align: center;    
    padding: 10px;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 5px;
    width: 70px;
    height: 50px;
}

.calc button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
}


.calc button:active {
    background-color: rgb(232, 232, 232);
}

.result {
    padding: 10px;
    width: 100%;
    max-width: 200px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    display: flex;
  
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    box-shadow:1px 1px 1px 1px gray,  2px 2px 2px 2px #ccc , 3px 3px 3px 3px #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}